<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>newsfeed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserAuthenticationServlet</display-name>
    <servlet-name>UserAuthenticationServlet</servlet-name>
    <servlet-class>com.newsfeed.controller.UserAuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthenticationServlet</servlet-name>
    <url-pattern>/UserAuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServerController</display-name>
    <servlet-name>AdminServerController</servlet-name>
    <servlet-class>com.newsfeed.controller.AdminServerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServerController</servlet-name>
    <url-pattern>/AdminServerController</url-pattern>
  </servlet-mapping>
</web-app>